* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

section {
  min-width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #000000;
  flex-direction: column;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

/***logo principal****/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.large {
  height: 40px;
  width: auto;
  filter: invert(1);
}
/***Contenedores nav del header****/
.logo {
  flex: 1;
  justify-content: flex-start;
  padding-left: 40px;
}
.searchContainer {
  flex: 2;
  height: 100%;
}
.adminNav {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/***barra de busqueda****/
.btnHome {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  > svg {
    width: 30px;
    height: 30px;
    filter: invert(1);
  }
}

form {
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #252525;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  border: 0.2px solid #363636;
}
form:hover {
  cursor: pointer;
  background-color: #3a3a3a;
}
form > button {
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: transparent;
  border: none;
  transition: all ease-in-out 0.4s;
  > svg {
    height: 30px;
    width: 30px;
    filter: invert(0.6);
    transition: all ease-in-out 0.4s;
  }
}
form:hover button > svg {
  filter: invert(1);
}
form > input {
  height: 40px;
  border: none;
  background-color: transparent;
  border-right: 2px solid #818181;
  width: 350px;
  font-size: 16px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
  color: #818181;
}
form > a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    height: 35px;
    width: 35px;
    filter: invert(1);
  }
}

/***nav user****/
.adminNav > button {
  height: 40px;
  display: flex;
  gap: 5px;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border-radius: 20px;
  width: 180px;
  background-color: #1ed760;

  > span {
    font-size: 16px;
    font-weight: 800;
  }
}
.adminNav > button:hover {
  transform: scale(1.05);
}

.adminNav > a {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    height: 20px;
    width: 20px;
    filter: invert(1);
  }
}
.adminNav > div {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  > p {
    font-size: large;
    font-weight: 800;
  }
}
.adminNav > div > div {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 50%;
  > span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #7c10d4;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
  }
}

/**main**/
main {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}
aside {
  flex: 1;
  background-color: #252525;
  border-radius: 10px;
  height: 500px;
  min-width: 324px;
  padding: 20px;
  padding-top:0px ;
}
.header-aside {
  height: 60px;
  width: 100%;
}
.header-aside > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;

  > img {
    height: 30px;
    width: 30px;
    filter: invert(1);
  }

  > p {
    font-size: 18px;
    font-weight: 800;
  }
}
.container-playLists {
  width: 100%;
  display: flex;
  min-width: 324px;
}
/******/
.section-main {
  background-color: #252525;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  min-width: 324px;
  flex: 2;
  overflow: hidden;
  overflow-y: scroll;
}
.section-main>header{
  height: 60px;
  align-items: center;
  padding: 20px;
}
.section-main-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(180px,100%),1fr));
  gap: 30px;
  padding: 20px;
}


/*****Footer main****/

.section-main>footer{
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-main>footer>div{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.footer-up>div{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer-up>div>h2{
  font-size: 1rem;
}
.footer-up>div>ul{
  height: 100%;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  >li{
    list-style: none;
  }
}
.footer-up>.main-container-redes{
  height: 100%;
  display: flex;
  width: 200px;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;

  >div{
    height: 40px;
    width: 40px;
    background-color: #3a3a3a;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    >img{
      height: 20px;
      width: 20px;
      filter: invert(1);
    }
  }
  >div:hover{
    background-color: #818181;
  }
}
.footer-down{
  padding-top:20px;
}
.footer-down-main{
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  max-width: 700px;
  flex-wrap: wrap;
  padding-left: 30px;

  >a{
    text-decoration: none;
    color: #eeeeee;
    padding: 10px;
    min-width: auto;
    font-size: small;
  }
}
.footer-down-aside{
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  >p{
    color: #eeeeee;
  }
}

/**Reproductor**/
footer {
  width: 100%;
  height: 150px;
  display: flex;
}
.footer-principal{
  flex-wrap: wrap;
}
.footer-principal div:nth-child(1){
  height: 100%;
  flex: 1;
}
.footer-principal div:nth-child(3){
  height: 100%;
  flex: 1;
}
.reproductor{
  height: 100%;
  width: 700px;
  min-width: 324px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reproductor-control{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.icon-player{
  height: 25px;
  width: 25px;
  filter: invert(1);
}
.icon-prev{
  transform: rotate(180deg);
}
.icon-pause{
  filter: invert(1);
  height: 40px;
}
.reproductor-line{
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reproductor-line>div{
  height: 5px;
  width: 50%;
  background-color: #3a3a3a;
  display: flex;
  flex-direction: row;
}
.reproductor-line>p{
  display: block;
  width: 40px;
  font-weight: 800;
  text-align: center;
}

