<section>
    <header>
        <nav>
            <img src="spotifyLogo.png" alt="spotify logo">
            <a>
                <img src="" alt="Inicio">
            </a>
            <form action="">
                <button>
                    <img src="" alt="icono buscar">
                </button>
                <input type="text">
                <a href="">
                    <img src="" alt="icono explorar">
                </a>
            </form>
        </nav>
        <nav>
            <button>Exprorar Premium</button>
            <button>Instalar aplicación</button>
            <a href="">
                <img src="" alt="icono notificacion">
            </a>
            <div>
                <span>k</span>
            </div>
        </nav>
    </header>
</section>
