<section>
  <header>
    <a href="">
      <img src="spotifyLogo.png" alt="logo" />
    </a>
  </header>
  <main>
    <h1>Regístrate para empezar a escuchar contenido</h1>
    <form action="">
      <label for="email">Dirección de email</label>
      <input type="email" name="" id="email" placeholder="nombre@dominio.com" />
      <a href="">Usar número de teléfono</a>
      <button type="submit">Siguiente</button>
    </form>
  </main>
  <div>
    <div [className]="'divisor'">
      <p>o</p>
    </div>
    <div>
      <a>
        <img src="googleIcon.svg" alt="" />
        <span>Registrarte con Google</span>
      </a>
      <a>
        <img src="facebookIcon.svg" alt="" />
        <span>Registrarte con Google</span>
      </a>
      <a>
        <img src="appleIcon.svg" alt="" />
        <span>Registrarte con Google</span>
      </a>
    </div>
  </div>
</section>
